.Weather {
  display: flex;
  flex-direction: column;
  font-family: 'Lobster', cursive;
}

.Weather_focused {
  font-size: 35px;

}

.Weather_focused img {
  width: 150px;

}

.Weather_forecast {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Weather_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Weather_box img {
  width: 50px;
}
